<!DOCTYPE html>
<html lang="ru">

<head>
    <title>MyGeekList - Страница регистрации</title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/styles.css' )}}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for( 'static', filename='files/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for( 'static', filename='files/favicon-16x16.png')}}">
</head>

<body>
    <header>
        <h1 class="orange_header">Регистрация</h1>
    </header>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form action="/registration" method="post">
        <div class="container2">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="nick" id="nick" aria-describedby="inputSuccess2Status" placeholder="Ваш ник*">
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="login" id="login" aria-describedby="inputSuccess2Status" placeholder="Логин*">
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" id="pass" aria-describedby="inputSuccess2Status" placeholder="Пароль*">
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" name="email" id="email" aria-describedby="inputSuccess2Status" placeholder="E-mail*">
            </div>
        </div>
        <div class="flex_container">
            <div class="bottom_buttons2">
                <button type="button" id="back" class="button_left" onclick="location.href='/';">Назад</button>
                <button type="submit" id="enter" class="button_right">Завершить</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src={{ url_for( 'static', filename='js/scripts_reg.js' )}}></script>
</body>

</html>